# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
ImageNerveExpo/node_modules/

# Expo
ImageNerveExpo/.expo/
ImageNerveExpo/dist/
ImageNerveExpo/web-build/
ImageNerveExpo/expo-env.d.ts

# Native
ImageNerveExpo/.kotlin/
ImageNerveExpo/*.orig.*
ImageNerveExpo/*.jks
ImageNerveExpo/*.p8
ImageNerveExpo/*.p12
ImageNerveExpo/*.key
ImageNerveExpo/*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
backend/.env
backend/.venv/

#backend
backend/app/routes/
backend/app/__pycache__/
backend/app/services/__pycache__/
backend/app/models/__pycache__/
backend/testImages/
backend/models/

# typescript
*.tsbuildinfo
